/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/12/2015, 09:43:02 PM
    Author     : INIFAP
*/

#menuLateral 
{     
    z-index: 8;
    background-color: green;
    position:fixed; 
    float: left;
    height: 92%;
    width: 18%;
    left:0px; 
    top:10%;
    list-style-type: none;

}




 ul#ListaMenuLateral {
     margin-top: 50%;
     text-align: center;
     padding: 0;
     
     font-family: sans-serif;
     font-size: 16px;
     font-weight: bold;
    }
    
     ul#ListaLateral li {
	
	float: left;
        
       
	height:2.5em;
	line-height:2.5em;

	
  }

  ul#ListaMenuLateral a {
        
	color: black;
	text-decoration:none; 
	padding: 20px 0; 
	display: block;
	height: 100%;
}




#ListaMenuLateral li:hover {
   
       background-color: whitesmoke;
     }
     
     
   #ListaMenuLateral li:hover a {
       
       color: black;
     }
     
     
     
     #ListaMenuLateral li a.active{
         background: #999; 
     }
     
 #ListaMenuLateral li a:hover  {
    background: #999; 
   
    color: #fff;
}
#ListaMenuLateral li ul {
    padding: 0px;
    list-style-type: none;
    display: none; // used to hide sub-menus
}
#ListaMenuLateral li ul li a {
  
    padding: 10px 35px;
    background: whitesmoke;
    border-bottom: 1px dotted #ccc;
}    

/* Todo lo respectivo a la barra superior*/

#menuSuperior{
    z-index: 8;
    background:url(Imagenes/topMenu.jpeg);
    background-color:yellow; 
    background-size: cover;
    position:fixed; 
    height: 10%; 
    width: 100%;
    top:0px;
    left:0px;
    
} 

 ul#ListaMenuSuperior {
     margin-left: 30%;
     padding: 0;
     list-style-type: none;
     font-family: sans-serif;
     font-size: 16px;
     font-weight: bold;
    }
    
     ul#ListaMenuSuperior li {
	
	float: left;
        
       
	height:2.5em;
	line-height:2.5em;

	
  }

  ul#ListaMenuSuperior a {
	color: white;
	text-decoration:none; 
	padding: 0 30px; 
	display: block;
	height: 100%;
}


#ListaMenuSuperior li:hover {
       background-color: whitesmoke;
     }
   #ListaMenuSuperior li:hover a {
       color: black;
     }
     
     /* Todo lo respectivo a la barra superior*/
     
#menuCentral{

    background-color: blue; 
    height: 122%;
    width: 100%;
    position: absolute;
 
    left: 18%;
    top: 8%;
    
}
